body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    color: red;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 800;
}

.message {
    margin: 40px 0;
    z-index: 1;
    overflow: auto;
    height: 130px;
}

p {
    font-size: 18px;
    color: black;
    margin: 0;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: darkred;
}

.heart {
    width: 60px;
    height: 60px;
    position: relative;
    left: 40%;
    background-color: red;
    transform: rotate(-45deg);
    animation: beat 1s infinite;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    top: -30px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 30px;
}

@keyframes beat {
    0%, 100% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.2) rotate(-45deg);
    }
}

